{% include 'header.html' %}

	<style>
		.no-gutters {
			display: flex;
			flex-wrap: wrap;
			justify-content: center; 
			align-items: center;   
		}

		.staff {
			margin: 0rem; 
		}

		@media (max-width: 768px) {
			.block-20 img {
				max-width: 100%;
				display: block;
				margin: 0 auto;
			}
			.col-md-4 {
				margin: 0 auto; 
				padding-bottom: 5rem;
			}
			.no-gutters {
				flex-direction: column; 
			}
		}
	</style>
    <section class="ftco-counter img ftco-section ftco-services ftco-no-pt" id="section-counter" style="margin-top: 6rem" data-section="about">
    	<div class="container">
			<div class="row justify-content-center pb-5">
				<div class="col-md-7 heading-section text-center ftco-animate">
				  <span class="subheading">About Us</span>
				  <h2 class="mb-4">Profile Of Our Fanbase</h2>
				  <p>Temukan informasi lengkap tentang sejarah dari Fanbase JKT48 Lombok dan profil lengkap anggota yang aktif terlibat dalam menjalankan misi dan kegiatan kami.</p>
				</div>
			  </div>
    		<div class="row d-flex">
    			<div class="col-md-6 col-lg-4 d-flex">
    				<div class="img d-flex align-self-stretch align-items-center" style="background-image:url(../static/assets/img/about-2.png);">
    					
    				</div>
    			</div>
    			<div class="col-md-6 col-lg-8 pl-lg-5 py-5">
    				<div class="row justify-content-start pb-3">
		          <div class="col-md-12 heading-section ftco-animate">
		          	<span class="subheading">Welcome</span>
		            <h2 class="mb-4">FJKT berdiri sejak 2023</h2>
		            <p>Sejarah pembentukan fanbase FJKT48 Lombok dimulai ketika para penggemar JKT48 di Pulau Lombok bertemu melalui komentar di FYP TikTok. Interaksi ini kemudian beralih ke pesan WhatsApp pada tanggal 12 Mei 2023. </p>
		            <p>Selanjutnya, para penggemar ini memutuskan untuk bertemu secara langsung pada tanggal 15 Mei 2023 di sebuah angkringan bernama Angkringan Bejo (Angjo).</p>
		            <p>Dalam pertemuan tersebut, ditetapkan pembentukan komunitas fans JKT48 Pulau Lombok beserta para pengurusnya.</p>
		          </div>
		        </div>
		    		<div class="row">
		          <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate d-flex">
		            <div class="block-18 text-center p-4 mb-4 align-self-stretch d-flex">
		              <div class="text">
		                <strong class="number" data-number="1">0</strong>
		                <span style="color: #a5a7a2;">Years of service</span>
		              </div>
		            </div>
		          </div>
		          <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate d-flex">
		            <div class="block-18 text-center py-4 px-3 mb-4 align-self-stretch d-flex">
		              <div class="text">
		                <strong class="number" data-number="132">0</strong>
		                <span style="color: #a5a7a2;">Active Members</span>
		              </div>
		            </div>
		          </div>
		          <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate d-flex">
		            <div class="block-18 text-center py-4 px-3 mb-4 align-self-stretch d-flex">
		              <div class="text">
		                <strong class="number" data-number="987">0</strong>
		                <span style="color: #a5a7a2;">Social Media Followers</span>
		              </div>
		            </div>
		          </div>
		        </div>
	        </div>
        </div>
    	</div>
    </section>

	<section class="testimony-section" id="message" data-section="about" style="margin-bottom: 2rem">
		<div class="container">
			<div class="row no-gutters justify-content-center pb-5">
				<div class="col-md-12 heading-section text-center ftco-animate">
					<span class="subheading">PENGURUS FANBASE JKT48 LOMBOK</span>
					<h2 class="mb-4">Meet Our Team</h2>
					<p>Perkenalkan individu berbakat yang berkontribusi pada komunitas kami. Pelajari lebih lanjut
						tentang wajah-wajah di balik layar.</p>
				</div>
			</div>
			<div class="row ftco-animate justify-content-center">
				<div class="col-md-12 d-flex align-items-center">
					<div class="carousel-testimony owl-carousel">
						<div class="item">
							<div class="testimony-wrap d-flex align-items-stretch">
								<div class="user-img d-flex align-self-stretch"
									style="background-image: url(../static/assets/img/davi.jpg)">
								</div>
								<div class="text d-flex align-items-center">
									<div>
										<div class="icon-quote">
											<span class="icon-quote-left"></span>
										</div>
										<p class="mb-4">Calon Technical Engineering yang menghabiskan masa mudanya untuk ngidol, lightstickku bersinar terang seperti orangnya, Halo aku Davi</p>
										<p class="name">Davi</p>
										<span class="position">Ketua</span><br>
										<a href="https://www.instagram.com/vi_tama.08"><span class="icon-instagram"></span></a>
									</div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="testimony-wrap d-flex align-items-stretch">
								<div class="user-img d-flex align-self-stretch"
									style="background-image: url(../static/assets/img/lutfhi.jpg)">
								</div>
								<div class="text d-flex align-items-center">
									<div>
										<div class="icon-quote">
											<span class="icon-quote-left"></span>
										</div>
										<p class="mb-4">Menyatukan para penggemar JKT48 di Pulau Lombok, berbagi
											pengalaman, dan menyalurkan dukungan kepada idol ibu kota yaitu JKT48.</p>
										<p class="name">Lutfhi</p>
										<span class="position">Wakil Ketua</span><br>
										<a href="https://www.instagram.com/muhammad_luthfie10"><span class="icon-instagram"></span></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="ftco-section" data-section="about" id="team" style="margin-top: -6rem">
		<div class="container-fluid p-0">
			<div class="row no-gutters">
				<div class="col-md-6 col-lg-3 ftco-animate">
					<div class="staff">
						<div class="img-wrap d-flex align-items-stretch">
							<div class="img align-self-stretch"
								style="background-image: url(../static/assets/img/leli.jpeg);"></div>
						</div>
						<div class="text d-flex align-items-center pt-3 text-center">
							<div>
								<span class="position mb-2">Sekretaris</span>
								<h3 class="mb-4">Leli</h3>
								<div class="faded">
									<p>Bagaikan mentari pagi yang menghangatkan hati, aku akan menjadi sekretaris yang selalu siap membantu dan memberikan semangat baru setiap hari. Halo, aku Leli!</p>
									<ul class="ftco-social text-center">
										<li class="ftco-animate"><a href="https://www.instagram.com/_.lelli"><span class="icon-instagram"></span></a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-3 ftco-animate">
					<div class="staff">
						<div class="img-wrap d-flex align-items-stretch">
							<div class="img align-self-stretch"
								style="background-image: url(../static/assets/img/ersa.jpeg);"></div>
						</div>
						<div class="text d-flex align-items-center pt-3 text-center">
							<div>
								<span class="position mb-2">Sekretaris</span>
								<h3 class="mb-4">Ersa</h3>
								<div class="faded">
									<p>Dengan senyum manis dan sentuhan lembutku, aku akan menjadi sekretaris yang selalu siap membantu dengan penuh kehangatan. Halo, aku Ersa!</p>
									<ul class="ftco-social text-center">
										<li class="ftco-animate"><a href="https://www.instagram.com/baiqersaa._"><span class="icon-instagram"></span></a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-3 ftco-animate">
					<div class="staff">
						<div class="img-wrap d-flex align-items-stretch">
							<div class="img align-self-stretch"
								style="background-image: url(../static/assets/img/arya.jpeg);"></div>
						</div>
						<div class="text d-flex align-items-center pt-3 text-center">
							<div>
								<span class="position mb-2">Bendahara</span>
								<h3 class="mb-4">Arya</h3>
								<div class="faded">
									<p>Bagai capit tuan krab, aku siap mencapit kas kalian dengan tersenyum karir. Ai ai ai..halo aku Arya si Bendahara Fanbase🤩</p>
									<ul class="ftco-social text-center">
										<li class="ftco-animate"><a href="Instagram.com/rya_ndi7"><span class="icon-instagram"></span></a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-3 ftco-animate">
					<div class="staff">
						<div class="img-wrap d-flex align-items-stretch">
							<div class="img align-self-stretch"
								style="background-image: url(../static/assets/img/thiar.jpeg);"></div>
						</div>
						<div class="text d-flex align-items-center pt-3 text-center">
							<div>
								<span class="position mb-2">CO Media</span>
								<h3 class="mb-4">Thiar</h3>
								<div class="faded">
									<p>Si penyuka jokes bapak-bapak, hai aku thiar</p>
									<ul class="ftco-social text-center">
										<li class="ftco-animate"><a href="https://www.instagram.com/thiarelkanta"><span class="icon-instagram"></span></a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-6 col-lg-3 ftco-animate">
					<div class="staff">
						<div class="img-wrap d-flex align-items-stretch">
							<div class="img align-self-stretch"
								style="background-image: url(../static/assets/img/yosia.jpeg);"></div>
						</div>
						<div class="text d-flex align-items-center pt-3 text-center">
							<div>
								<span class="position mb-2">CO Merchandise</span>
								<h3 class="mb-4">Yosia</h3>
								<div class="faded">
									<p>Seperti gapura yang selalu menyambut kalian, haiii aku Yosia👹</p>
									<ul class="ftco-social text-center">
										<li class="ftco-animate"><a href="https://www.instagram.com/yosia.nvrska"><span class="icon-instagram"></span></a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-3 ftco-animate">
					<div class="staff">
						<div class="img-wrap d-flex align-items-stretch">
							<div class="img align-self-stretch"
								style="background-image: url(../static/assets/img/daffa.jpeg);"></div>
						</div>
						<div class="text d-flex align-items-center pt-3 text-center">
							<div>
								<span class="position mb-2">CO Acara</span>
								<h3 class="mb-4">Daffa</h3>
								<div class="faded">
									<p>Langit gelap, bintang pudar, tapi hatiku tetap bercahaya. Aku Daffa, malaikat jatuh yang tak pernah menyerah. Dengan semangat dari surga, aku akan selalu berusaha!</p>
									<ul class="ftco-social text-center">
										<li class="ftco-animate"><a href="https://www.instagram.com/naufal_alamin"><span class="icon-instagram"></span></a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
		
{% include 'footer.html' %}