{% include 'header.html' %}
<section class="ftco-counter img ftco-section ftco-no-pt ftco-no-pb" id="section-counter" data-section="about">
    <div class="container">
        <div class="row d-flex">
            <div class="col-md-6 col-lg-4 d-flex">
                <div class="img d-flex align-self-stretch align-items-center"
                    style="background-image:url(../static/assets/img/about-2.png);">
                </div>
            </div>
            <div class="col-md-6 col-lg-8 pl-lg-5 py-5 mt-5">
                <div class="row justify-content-start pb-3">
                    <div class="col-md-12 heading-section ftco-animate">
                        <span class="subheading">Welcome</span>
                        <h2 class="mb-4">FJKT berdiri sejak 2023</h2>
                        <p>Sejarah pembentukan fanbase FJKT48 Lombok dimulai ketika para penggemar JKT48 di Pulau
                            Lombok bertemu melalui komentar di FYP TikTok. Interaksi ini kemudian beralih ke pesan
                            WhatsApp pada tanggal 12 Mei 2023. </p>
                        <p>Selanjutnya, para penggemar ini memutuskan untuk bertemu secara langsung pada tanggal 15
                            Mei 2023 di sebuah angkringan bernama Angkringan Bejo (Angjo).</p>
                        <p>Dalam pertemuan tersebut, ditetapkan pembentukan komunitas fans JKT48 Pulau Lombok
                            beserta para pengurusnya.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate d-flex">
                        <div class="block-18 text-center p-4 mb-4 align-self-stretch d-flex">
                            <div class="text">
                                <strong class="number" data-number="1">0</strong>
                                <span style="color: #a5a7a2;">Years of service</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate d-flex">
                        <div class="block-18 text-center py-4 px-3 mb-4 align-self-stretch d-flex">
                            <div class="text">
                                <strong class="number" data-number="100">0</strong>
                                <span style="color: #a5a7a2;">Active Members</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate d-flex">
                        <div class="block-18 text-center py-4 px-3 mb-4 align-self-stretch d-flex">
                            <div class="text">
                                <strong class="number" data-number="35">0</strong>
                                <span style="color: #a5a7a2;">Fan Meets Hosted</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate d-flex">
                        <div class="block-18 text-center py-4 px-3 mb-4 align-self-stretch d-flex">
                            <div class="text">
                                <strong class="number" data-number="1000">0</strong>
                                <span style="color: #a5a7a2;">Social Media Followers</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% include 'footer.html' %}