{% include 'header.html' %}

	<section class="hero-wrap js-fullheight" style="background-image: url('../static/assets/img/bg_4.png');"
		data-section="home">
		<div class="overlay"></div>
		<div class="container">
			<div class="row no-gutters slider-text js-fullheight align-items-center justify-content-start"
				data-scrollax-parent="true">
				<div class="col-md-9 ftco-animate mt-5" data-scrollax=" properties: { translateY: '70%' }">
			<p class="d-flex align-items-center" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">
				<a href="https://www.youtube.com/watch?v=mrv2AOJLxJ4" class="icon-video popup-vimeo d-flex justify-content-center align-items-center mr-3">
					<span class="ion-ios-play play mr-2"></span>
					<span class="watch">Watch Video</span>
				</a>
			</p>
					<h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Website FJKT48 Lombok</h1>
					<p class="mb-4" style="text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);"
						data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Temukan semangat dan kebersamaan
						dalam komunitas penggemar JKT48 di Pulau Lombok.</p>
				</div>
			</div>
		</div>
	</section>

	<section class="ftco-section ftco-services ftco-no-pt">
		<div class="container">
			<div class="row services-section justify-content-center">
				<div class="col-md-8 d-flex align-self-stretch ftco-animate">
					<div class="media block-6 services text-center d-block">
						<div class="icon">
							<img src="../static/assets/img/logo_3.png" style="width: 100px; height: 100px;">
						</div>
						<div class="media-body">
							<h3 class="heading mb-3">FJKT48 Lombok</h3>
							<p>Tujuan utama dari pembentukan fanbase ini adalah untuk menyatukan para penggemar JKT48 di
								Pulau Lombok, berbagi pengalaman, dan menyalurkan dukungan kepada idol ibu kota yaitu
								JKT48.</p>
							<p><a href="#section-counter" class="btn btn-primary" data-nav-section="about">Read more</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="ftco-counter img ftco-section ftco-no-pt ftco-no-pb" id="section-counter" data-section="about">
		<div class="container">
			<div class="row d-flex">
				<div class="col-md-6 col-lg-4 d-flex">
					<div class="img d-flex align-self-stretch align-items-center"
						style="background-image:url(../static/assets/img/about-2.png);">

					</div>
				</div>
				<div class="col-md-6 col-lg-8 pl-lg-5 py-5">
					<div class="row justify-content-start pb-3">
						<div class="col-md-12 heading-section ftco-animate">
							<span class="subheading">Welcome</span>
							<h2 class="mb-4">FJKT berdiri sejak 2023</h2>
							<p>Sejarah pembentukan fanbase FJKT48 Lombok dimulai ketika para penggemar JKT48 di Pulau
								Lombok bertemu melalui komentar di FYP TikTok. Interaksi ini kemudian beralih ke pesan
								WhatsApp pada tanggal 12 Mei 2023. </p>
							<p>Selanjutnya, para penggemar ini memutuskan untuk bertemu secara langsung pada tanggal 15
								Mei 2023 di sebuah angkringan bernama Angkringan Bejo (Angjo).</p>
							<p>Dalam pertemuan tersebut, ditetapkan pembentukan komunitas fans JKT48 Pulau Lombok
								beserta para pengurusnya.</p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate d-flex">
							<div class="block-18 text-center p-4 mb-4 align-self-stretch d-flex">
								<div class="text">
									<strong class="number" data-number="1">0</strong>
									<span style="color: #a5a7a2;">Years of service</span>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate d-flex">
							<div class="block-18 text-center py-4 px-3 mb-4 align-self-stretch d-flex">
								<div class="text">
									<strong class="number" data-number="100">0</strong>
									<span style="color: #a5a7a2;">Active Members</span>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate d-flex">
							<div class="block-18 text-center py-4 px-3 mb-4 align-self-stretch d-flex">
								<div class="text">
									<strong class="number" data-number="35">0</strong>
									<span style="color: #a5a7a2;">Fan Meets Hosted</span>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate d-flex">
							<div class="block-18 text-center py-4 px-3 mb-4 align-self-stretch d-flex">
								<div class="text">
									<strong class="number" data-number="1000">0</strong>
									<span style="color: #a5a7a2;">Social Media Followers</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="ftco-section" data-section="team" id="team">
		<div class="container-fluid p-0">
			<div class="row no-gutters justify-content-center pb-5">
				<div class="col-md-12 heading-section text-center ftco-animate">
					<span class="subheading">Members</span>
					<h2 class="mb-4">Meet Our Team</h2>
					<p>Perkenalkan individu berbakat yang berkontribusi pada komunitas kami. Pelajari lebih lanjut
						tentang wajah-wajah di balik layar.</p>
				</div>
			</div>
			<div class="row no-gutters">
				<div class="col-md-6 col-lg-3 ftco-animate">
					<div class="staff">
						<div class="img-wrap d-flex align-items-stretch">
							<div class="img align-self-stretch"
								style="background-image: url(../static/assets/img/team-1.jpg);"></div>
						</div>
						<div class="text d-flex align-items-center pt-3 text-center">
							<div>
								<span class="position mb-2">Member</span>
								<h3 class="mb-4">Lloyd Wilson</h3>
								<div class="faded">
									<p>I am an ambitious workaholic, but apart from that, pretty simple person.</p>
									<ul class="ftco-social text-center">
										<li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
										<li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a>
										</li>
										<li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-3 ftco-animate">
					<div class="staff">
						<div class="img-wrap d-flex align-items-stretch">
							<div class="img align-self-stretch"
								style="background-image: url(../static/assets/img/team-2.jpg);"></div>
						</div>
						<div class="text d-flex align-items-center pt-3 text-center">
							<div>
								<span class="position mb-2">Member</span>
								<h3 class="mb-4">Rachel Parker</h3>
								<div class="faded">
									<p>I am an ambitious workaholic, but apart from that, pretty simple person.</p>
									<ul class="ftco-social text-center">
										<li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
										<li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a>
										</li>
										<li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-3 ftco-animate">
					<div class="staff">
						<div class="img-wrap d-flex align-items-stretch">
							<div class="img align-self-stretch"
								style="background-image: url(../static/assets/img/team-3.jpg);"></div>
						</div>
						<div class="text d-flex align-items-center pt-3 text-center">
							<div>
								<span class="position mb-2">Member</span>
								<h3 class="mb-4">Ian Smith</h3>
								<div class="faded">
									<p>I am an ambitious workaholic, but apart from that, pretty simple person.</p>
									<ul class="ftco-social text-center">
										<li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
										<li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a>
										</li>
										<li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-3 ftco-animate">
					<div class="staff">
						<div class="img-wrap d-flex align-items-stretch">
							<div class="img align-self-stretch"
								style="background-image: url(../static/assets/img/team-4.jpg);"></div>
						</div>
						<div class="text d-flex align-items-center pt-3 text-center">
							<div>
								<span class="position mb-2">Member</span>
								<h3 class="mb-4">Alicia Henderson</h3>
								<div class="faded">
									<p>I am an ambitious workaholic, but apart from that, pretty simple person.</p>
									<ul class="ftco-social text-center">
										<li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
										<li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a>
										</li>
										<li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-6 col-lg-3 ftco-animate">
					<div class="staff">
						<div class="img-wrap d-flex align-items-stretch">
							<div class="img align-self-stretch"
								style="background-image: url(../static/assets/img/staff-1.jpg);"></div>
						</div>
						<div class="text d-flex align-items-center pt-3 text-center">
							<div>
								<span class="position mb-2">Member</span>
								<h3 class="mb-4">Lloyd Wilson</h3>
								<div class="faded">
									<p>I am an ambitious workaholic, but apart from that, pretty simple person.</p>
									<ul class="ftco-social text-center">
										<li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
										<li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a>
										</li>
										<li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-3 ftco-animate">
					<div class="staff">
						<div class="img-wrap d-flex align-items-stretch">
							<div class="img align-self-stretch"
								style="background-image: url(../static/assets/img/staff-2.jpg);"></div>
						</div>
						<div class="text d-flex align-items-center pt-3 text-center">
							<div>
								<span class="position mb-2">Member</span>
								<h3 class="mb-4">Rachel Parker</h3>
								<div class="faded">
									<p>I am an ambitious workaholic, but apart from that, pretty simple person.</p>
									<ul class="ftco-social text-center">
										<li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
										<li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a>
										</li>
										<li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-3 ftco-animate">
					<div class="staff">
						<div class="img-wrap d-flex align-items-stretch">
							<div class="img align-self-stretch"
								style="background-image: url(../static/assets/img/staff-3.jpg);"></div>
						</div>
						<div class="text d-flex align-items-center pt-3 text-center">
							<div>
								<span class="position mb-2">Member</span>
								<h3 class="mb-4">Ian Smith</h3>
								<div class="faded">
									<p>I am an ambitious workaholic, but apart from that, pretty simple person.</p>
									<ul class="ftco-social text-center">
										<li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
										<li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a>
										</li>
										<li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-3 ftco-animate">
					<div class="staff">
						<div class="img-wrap d-flex align-items-stretch">
							<div class="img align-self-stretch"
								style="background-image: url(../static/assets/img/staff-4.jpg);"></div>
						</div>
						<div class="text d-flex align-items-center pt-3 text-center">
							<div>
								<span class="position mb-2">Member</span>
								<h3 class="mb-4">Alicia Henderson</h3>
								<div class="faded">
									<p>I am an ambitious workaholic, but apart from that, pretty simple person.</p>
									<ul class="ftco-social text-center">
										<li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
										<li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a>
										</li>
										<li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="testimony-section" data-section="message" id="message">
		<div class="container">
			<div class="row ftco-animate justify-content-center">
				<div class="col-md-12 d-flex align-items-center">
					<div class="carousel-testimony owl-carousel">
						<div class="item">
							<div class="testimony-wrap d-flex align-items-stretch">
								<div class="user-img d-flex align-self-stretch"
									style="background-image: url(../static/assets/img/testimony-1.jpg)">
								</div>
								<div class="text d-flex align-items-center">
									<div>
										<div class="icon-quote">
											<span class="icon-quote-left"></span>
										</div>
										<p class="mb-4">Menyatukan para penggemar JKT48 di Pulau Lombok, berbagi
											pengalaman, dan menyalurkan dukungan kepada idol ibu kota yaitu JKT48.</p>
										<p class="name">Dimas...</p>
										<span class="position">Ketua, Founder</span>
									</div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="testimony-wrap d-flex align-items-stretch">
								<div class="user-img d-flex align-self-stretch"
									style="background-image: url(../static/assets/img/testimony-2.jpg)">
								</div>
								<div class="text d-flex align-items-center">
									<div>
										<div class="icon-quote">
											<span class="icon-quote-left"></span>
										</div>
										<p class="mb-4">Menyatukan para penggemar JKT48 di Pulau Lombok, berbagi
											pengalaman, dan menyalurkan dukungan kepada idol ibu kota yaitu JKT48.</p>
										<p class="name">Rasya...</p>
										<span class="position">Wakil Ketua, Founder</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="ftco-section contact-section" data-section="contact" id="contact">
		<div class="container">
			<div class="row justify-content-center mb-5">
				<div class="col-md-7 heading-section text-center ftco-animate">
					<span class="subheading">Contact</span>
					<h2 class="mb-4">Contact Us</h2>
					<p>Jangan ragu untuk menghubungi kami untuk terhubung dengan sesama penggemar JKT48 di Lombok,
						berbagi pengalaman, dan menyalurkan dukungan kepada grup idola ibu kota kami, JKT48.</p>
				</div>
			</div>
			<div class="row d-flex justify-content-center  contact-info">
				<div class="col-md-6 col-lg-3 d-flex">
					<div class="align-self-stretch box p-4 text-center">
						<div class="icon d-flex align-items-center justify-content-center">
							<span class="icon-map-signs"></span>
						</div>
						<h3 class="mb-4">Address</h3>
						<p>Jalan ... No. Kota Mataram, Nusa Tenggara Barat, Lombok</p>
					</div>
				</div>
				<div class="col-md-6 col-lg-3 d-flex">
					<div class="align-self-stretch box p-4 text-center">
						<div class="icon d-flex align-items-center justify-content-center">
							<span class="icon-phone2"></span>
						</div>
						<h3 class="mb-4">Contact Number</h3>
						<p><a href="tel://085....">+62 858 4554 9290</a></p>
					</div>
				</div>
				<div class="col-md-6 col-lg-3 d-flex">
					<div class="align-self-stretch box p-4 text-center">
						<div class="icon d-flex align-items-center justify-content-center">
							<span class="icon-paper-plane"></span>
						</div>
						<h3 class="mb-4">Email Address</h3>
						<p><a href="mailto:...@gmail.com">....@gmail.com</a></p>
					</div>
				</div>
			</div>
		</div>
	</section>

	{% include 'footer.html' %}
