{% include 'header.html' %}

	<link rel="stylesheet" href="../static/assets/css/style-landing.css">

	<section class="hero-wrap js-fullheight" style="background-image: url('../static/assets/img/fjkt.jpg');"
		data-section="home">
		<div class="overlay"></div>
		<div class="container">
			<div class="row no-gutters slider-text js-fullheight align-items-center justify-content-start"
				data-scrollax-parent="true">
				<div class="col-md-9 ftco-animate mt-5" data-scrollax=" properties: { translateY: '70%' }">
			<p class="d-flex align-items-center" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">
				<a href="https://www.youtube.com/watch?v=mrv2AOJLxJ4" class="icon-video popup-vimeo d-flex justify-content-center align-items-center mr-3">
					<span class="ion-ios-play play mr-2"></span>
					<span class="watch">Watch Video</span>
				</a>
			</p>
					<h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Selamat Datang Di Komunitas FJKT48 Lombok</h1>
					<p class="mb-4" style="text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);"
						data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Temukan semangat dan kebersamaan
						dalam komunitas penggemar JKT48 di Pulau Lombok.</p>
				</div>
			</div>
		</div>
	</section>

	<section class="ftco-section ftco-services ftco-no-pt">
		<div class="container">
			<div class="row services-section justify-content-center">
				<div class="col-md-8 d-flex align-self-stretch ftco-animate">
					<div class="media block-6 services text-center d-block">
						<div class="icon">
							<img src="../static/assets/img/logo_3.png" style="width: 100px; height: 100px;">
						</div>
						<div class="media-body">
							<h3 class="heading mb-3">FJKT48 Lombok</h3>
							<p>Tujuan utama dari pembentukan fanbase ini adalah untuk menyatukan para penggemar JKT48 di
								Pulau Lombok, berbagi pengalaman, dan menyalurkan dukungan kepada idol ibu kota yaitu
								JKT48.</p>
							<p><a href="/about" class="btn btn-primary" data-nav-section="about">Read more</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="about" id="about" style="margin-top: -9rem">
		<div class="section__container about__container">
		  <div class="about__grid">
			<div class="about__image">
			  <img src="../static/assets/img/product/banner-1.png" alt="about" />
			</div>
			<div class="about__card">
			  <span><i class="ri-user-line"></i></span>
			  <h4>Koleksi Terbaru</h4>
				<p>
					Temukan koleksi terbaru merchandise JKT48 yang eksklusif dan penuh gaya
				</p>
			</div>
			<div class="about__image">
			  <img src="../static/assets/img/product/banner-2.png" alt="about" />
			</div>
			<div class="about__card">
			  <span><i class="ri-calendar-check-line"></i></span>
			  <h4>Produk Unggulan</h4>
				<p>
					Nikmati produk unggulan dari fanbase JKT48 yang berkualitas
				</p>
			</div>
		  </div>
		  <div class="about__content">
			<p class="section__subheader">Merchandise</p>
			<h2 class="section__header">Temukanlah Merchandise Menarik</h2>
			<p class="section__description">
                Selamat datang di halaman resmi merchandise JKT48! Di sini, 
				Anda dapat menemukan berbagai produk eksklusif dari fanbase JKT48 yang dirancang khusus untuk para penggemar setia. 
				Jelajahi koleksi kami dan tunjukkan dukungan Anda dengan bangga!
            </p>
			<a class="btn" type="button" href="/merchandise">Read more</a>
		  </div>
		</div>
	</section>

	<section class="intro" style="margin-top: 6rem" data-section="home">
		<div class="section__container intro__container">
		  <div class="intro__cotent">
			<p class="section__subheader">Gallery</p>
			<h2 class="section__header">Jelajahi Galeri Menarik Kami</h2>
			<p class="section__description">
				Telusuri dunia keindahan visual dari galeri kami, menampilkan koleksi foto dan media yang dipilih dengan cermat yang menangkap esensi acara komunitas. 
				Masuki ruang seni kami, di mana ekspresi kreatif para penggemar menghiasi dinding, merayakan semangat dan bakat dalam komunitas kami.
			</p>
			<a class="btn" type="button" href="/gallery">Read more</a>
		  </div>
		  <div class="intro__video">
			<video src="../static/assets/img/gallery/fjkt48.mp4" autoplay muted loop></video>
		  </div>
		</div>
	</section>

	<section class="ftco-section contact-section" data-section="home" id="contact" style="margin-top: -2rem">
		<div class="container">
			<div class="row justify-content-center mb-5">
				<div class="col-md-7 heading-section text-center ftco-animate">
					<span class="subheading">Contact</span>
					<h2 class="mb-4">Contact Us</h2>
					<p>Jangan ragu untuk menghubungi kami untuk terhubung dengan sesama penggemar JKT48 di Lombok,
						berbagi pengalaman, dan menyalurkan dukungan kepada grup idola ibu kota kami, JKT48.</p>
				</div>
			</div>
			<div class="row d-flex justify-content-center  contact-info">
				<div class="col-md-6 col-lg-3 d-flex">
					<div class="align-self-stretch box p-4 text-center">
						<div class="icon d-flex align-items-center justify-content-center">
							<span class="icon-map-signs"></span>
						</div>
						<h3 class="mb-4">Address</h3>
						<p>(Goebux's Cafe) Jl. Pesona Wisata, Pagutan - Kota Mataram, Nusa Tenggara Barat, Lombok</p>
					</div>
				</div>
				<div class="col-md-6 col-lg-3 d-flex">
					<div class="align-self-stretch box p-4 text-center">
						<div class="icon d-flex align-items-center justify-content-center">
							<span class="icon-phone2"></span>
						</div>
						<h3 class="mb-4">Contact Number</h3>
						<p><a href="tel://081236233328">+62 812-3623-3328</a></p>
					</div>
				</div>
				<div class="col-md-6 col-lg-3 d-flex">
					<div class="align-self-stretch box p-4 text-center">
						<div class="icon d-flex align-items-center justify-content-center">
							<span class="icon-paper-plane"></span>
						</div>
						<h3 class="mb-4">Email Address</h3>
						<p><a href="mailto:dpurwantama18@gmail.com">dpurwantama18@gmail.com</a></p>
					</div>
				</div>
			</div>
		</div>
	</section>

	{% include 'footer.html' %}
