<footer class="ftco-footer ftco-section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">FJKT48 Lombok</h2>
          <p>Menyatukan para penggemar JKT48 di Pulau Lombok, berbagi pengalaman, dan menyalurkan dukungan kepada idol ibu kota yaitu JKT48.</p>
          <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
            <li class="ftco-animate"><a href="https://x.com/fjkt48_lombokuy"><span class="icon-twitter"></span></a></li>
            <li class="ftco-animate" style="text-align: center;"><a href="https://www.tiktok.com/@fjkt48.lombok" style="font-size: 24px; padding: 3px; align-items: center;"><i class="fab fa-tiktok"></i></a></li>
            <li class="ftco-animate"><a href="https://www.instagram.com/fjkt48.lombok"><span class="icon-instagram"></span></a></li>
          </ul>
        </div>
      </div>
      <div class="col-md">
        <div class="ftco-footer-widget mb-4 ml-md-4">
          <h2 class="ftco-heading-2">Links</h2>
          <ul class="list-unstyled">
            <li><a href="/dashboard"><span class="icon-long-arrow-right mr-2"></span>Home</a></li>
            <li><a href="/about"><span class="icon-long-arrow-right mr-2"></span>About Us</a></li>
            <li><a href="/gallery"><span class="icon-long-arrow-right mr-2"></span>Gallery</a></li>
            <li><a href="/merchandise"><span class="icon-long-arrow-right mr-2"></span>Merchandise</a></li>
            <li><a href="/contact"><span class="icon-long-arrow-right mr-2"></span>Contact</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md">
         <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">Events</h2>
          <ul class="list-unstyled">
            <li><a><span class="icon-long-arrow-right mr-2"></span>Gathering</a></li>
            <li><a><span class="icon-long-arrow-right mr-2"></span>Nobar & Karaoke</a></li>
            <li><a><span class="icon-long-arrow-right mr-2"></span>Fun Sports</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md">
        <div class="ftco-footer-widget mb-4">
            <h2 class="ftco-heading-2">Have a Questions?</h2>
            <div class="block-23 mb-3">
              <ul>
                <li><span class="icon icon-map-marker"></span><span class="text">Jalan ... No. Kota Mataram, Nusa Tenggara Barat, Lombok</span></li>
                <li><a href="tel://085...."><span class="icon icon-phone"></span><span class="text">+62 858 4554 9290</span></a></li>
                <li><a href="mailto:...@gmail.com"><span class="icon icon-envelope"></span><span class="text">....@gmail.com</span></a></li>
              </ul>
            </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <p>
            &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Fanbase JKT48 Lombok
        </p>			
      </div>
    </div>
  </div>
</footer>



  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


  <script src="../static/assets/js/jquery.min.js"></script>
  <script src="../static/assets/js/jquery-migrate-3.0.1.min.js"></script>
  <script src="../static/assets/js/popper.min.js"></script>
  <script src="../static/assets/js/bootstrap.min.js"></script>
  <script src="../static/assets/js/jquery.easing.1.3.js"></script>
  <script src="../static/assets/js/jquery.waypoints.min.js"></script>
  <script src="../static/assets/js/jquery.stellar.min.js"></script>
  <script src="../static/assets/js/owl.carousel.min.js"></script>
  <script src="../static/assets/js/jquery.magnific-popup.min.js"></script>
  <script src="../static/assets/js/aos.js"></script>
  <script src="../static/assets/js/jquery.animateNumber.min.js"></script>
  <script src="../static/assets/js/scrollax.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="../static/assets/js/google-map.js"></script>
  <script src="../static/assets/js/main.js"></script>

  </body>
</html>