{% include 'header.html' %}

<link rel="stylesheet" href="../static/assets/css/style-gallery.css">

<section class="ftco-section bg-light" data-section="gallery">
  <div class="container">
    <div class="row justify-content-center pb-5">
      <div class="col-md-7 heading-section text-center ftco-animate">
        <span class="subheading">Gallery</span>
        <h2 class="mb-4">Our Gallery</h2>
        <p>Jelajahi galeri kami untuk melihat foto dan media menawan dari acara komunitas kami. 
          Ruang ini juga memamerkan karya seni yang dibuat oleh penggemar dan peminat JKT48.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 testimonial">
        <div class="carousel-project owl-carousel">
            {% for item in gallery_items %}
            <div class="item">
                <div class="project">
                    <div class="img">
                      {% if item['type'] == 'FJKT' %}
                      <img src="../static/assets/img/gallery/fjkt/{{ item['gambar'] }}" class="img-fluid fjktku" alt="Image">
                      <a href="../static/assets/img/gallery/fjkt/{{ item['gambar'] }}" class="icon image-popup d-flex justify-content-center align-items-center">
                          <span class="icon-expand"></span>
                      </a>
                      {% elif item['type'] == 'Fan Art' %}
                      <img src="../static/assets/img/gallery/fanart/{{ item['gambar'] }}" class="img-fluid fanartku" alt="Image">
                      <a href="../static/assets/img/gallery/fanart/{{ item['gambar'] }}" class="icon image-popup d-flex justify-content-center align-items-center">
                          <span class="icon-expand"></span>
                      </a>
                      {% endif %}
                    </div>
                    <div class="text px-4">
                        <h3><a href="#">{{ item['nama'] }}</a></h3>
                        <span>{{ item['type'] }}</span>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
      </div>
    </div>
    <div class="row justify-content-center mb-5">
      <div class="col-md-7 heading-section text-center ftco-animate">
        <div class="button-container mb-4">
          <button id="fjkt-button">
            <a href="#target-section">FJKT</a>
          </button>
          <button id="fan-art-button">
            <a href="#fan-section">FAN ART</a>
          </button>
        </div>
      </div>
    </div>
    
    <div>
      <h3 class="centered-bold" id="target-section" style="margin-bottom: 4rem;">FJKT</h3>
    </div>
    <div class="row px-2 mt-4 gap-3" id="filterable-cards" style="margin-bottom: 3rem;">
      <div class="row d-flex">
        {% for item in fjkt %}
          <div class="col-md-4 ftco-animate" style="margin-bottom: 4rem;">
              <div class="blog-entry justify-content-end">
                  <a href="#" onclick="postDetail('{{ item._id }}', 'fjkt')" data-toggle="modal" data-target="#myModal" data-id="{{item._id}}" data-type="fjkt" class="block-211">
                      <img src="../static/assets/img/gallery/fjkt/{{ item.gambar }}" alt="Image">
                  </a>                  
                  <div class="text mt-3 float-right d-block">
                      <div class="d-flex align-items-center pt-2 mb-4 topp">
                        <div class="one mr-3">
                          <span class="day">{{ item.tanggal|datetimeformat('%d') }}</span>
                        </div>
                        <div class="two">
                            <span class="yr">{{ item.tanggal|datetimeformat('%Y') }}</span>
                            <span class="mos">{{ item.tanggal|datetimeformat('%B') }}</span>
                        </div>
                      </div>
                      <h3 class="heading"><a href="#" onclick="postDetail('{{ item._id }}', 'fjkt')" data-toggle="modal" data-target="#myModal" data-id="{{item._id}}" data-type="fjkt">{{ item.nama }}</a></h3>
                      <p>{{ item.deskripsi }}</p>
                      <div class="d-flex align-items-center mt-4 meta">
                          <a href="#" class="btn btn-secondary" onclick="postDetail('{{ item._id }}', 'fjkt')" data-toggle="modal" data-target="#myModal" data-id="{{item._id}}" data-type="fjkt">Comment <span class="ion-ios-arrow-round-forward"></span></a>
                          <p class="ml-auto mb-0">
                              <a href="#" class="mr-2" onclick="loadComments('{{ item._id }}')" data-toggle="modal" data-target="#commentsModal">{{ item.last_comment_username }}</a>
                              <a href="#" class="meta-chat" onclick="loadComments('{{ item._id }}')" data-toggle="modal" data-target="#commentsModal"><span class="icon-chat"></span> {{ item.jumlah_komentar }}</a>
                          </p>
                      </div>
                      
                  </div>
              </div>
          </div>
        {% endfor %}
        
      </div> 
    </div>
  
    <h3 class="centered-bold" id="fan-section" style="margin-bottom: 4rem;">FAN ART</h3>
    <div class="row px-2 mt-4 gap-3" id="filterable-cards">
      <div class="row d-flex">
        {% for item in fanart %}
          <div class="col-md-4 ftco-animate" style="margin-bottom: 4rem;">
            <div class="blog-entry justify-content-end">
              <a href="#" onclick="postDetail('{{ item._id }}', 'fanart')" data-toggle="modal" data-target="#myModal" data-id="{{item._id}}" data-type="fanart" class="block-20">
                <img src="../static/assets/img/gallery/fanart/{{ item.gambar }}" alt="Image">
              </a>                  
              <div class="text mt-3 float-right d-block">
                <div class="d-flex align-items-center pt-2 mb-4 topp">
                  <div class="one mr-3">
                    <span class="day">{{ item.tanggal|datetimeformat('%d') }}</span>
                  </div>
                  <div class="two">
                      <span class="yr">{{ item.tanggal|datetimeformat('%Y') }}</span>
                      <span class="mos">{{ item.tanggal|datetimeformat('%B') }}</span>
                  </div>
                </div>
                <h3 class="heading"><a href="#" onclick="postDetail('{{ item._id }}', 'fanart')" data-toggle="modal" data-target="#myModal" data-id="{{item._id}}" data-type="fanart">{{ item.nama }}</a></h3>
                <p>{{ item.deskripsi }}</p>
                <div class="d-flex align-items-center mt-4 meta">
                  <p class="mb-0"><a href="#" class="btn btn-secondary" onclick="postDetail('{{ item._id }}', 'fanart')" data-toggle="modal" data-target="#myModal" data-id="{{item._id}}" data-type="fanart">Comment <span class="ion-ios-arrow-round-forward"></span></a></p>
                  <p class="ml-auto mb-0">
                    <a href="#" class="mr-2" onclick="loadComments('{{ item._id }}')" data-toggle="modal" data-target="#commentsModal">{{ item.last_comment_username }}</a>
                    <a href="#" class="meta-chat" onclick="loadComments('{{ item._id }}')" data-toggle="modal" data-target="#commentsModal"><span class="icon-chat"></span> {{ item.jumlah_komentar }}</a>
                  </p>
                </div>
                
              </div>
            </div>
          </div>
        {% endfor %}
        
      </div> 
    </div>
      
  </div>
</section>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="myModalLabel">Detail Post</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <div class="card">
                  <form id="postDetailForm" method="post" enctype="multipart/form-data">
                      <input type="hidden" id="type" name="type">
                      <input type="hidden" id="_id" name="_id">
                      <img src="" id="gambar" name="gambar" class="card-img-top" alt="...">
                      <div class="card-body">
                          <h5 class="card-title" id="nama" name="nama"></h5>
                          <p class="card-text" id="deskripsi" nama="deskripsi"></p>
                          <!-- Bagian komentar -->
                          <div class="form-group">
                              <label for="comment">Comment:</label>
                              <textarea class="form-control" rows="5" id="comment" name="comment"></textarea>
                          </div>
                      </div>
                  </form>
              </div>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" onclick="submitComment()">Submit Comment</button>
          </div>
      </div>
  </div>
</div>

<!-- Modal Structure -->
<div class="modal fade" id="commentsModal" tabindex="-1" role="dialog" aria-labelledby="commentsModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="commentsModalLabel">Comments</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <!-- Comment Section -->
              <div class="comment-section" id="commentSection">
                  <!-- Comments will be loaded here via JavaScript -->
              </div>
          </div>
      </div>
  </div>
</div>

<script>
  const fjktButton = document.getElementById('fjkt-button');
  const fanArtButton = document.getElementById('fan-art-button');
  const targetSection = document.getElementById('target-section');
  const fanSection = document.getElementById('fan-section');

  fjktButton.addEventListener('click', () => {
    targetSection.scrollIntoView({
      behavior: 'smooth',
      block: 'start'
    });
  });

  fanArtButton.addEventListener('click', () => {
    fanSection.scrollIntoView({
      behavior: 'smooth',
      block: 'start'
    });
  });
</script>

<script src="../static/assets/js/jsgallery.js"></script>

{% include 'footer.html' %}
