<div id="SignIn" class="tabcontent">
    <h3 style="text-align: center;">Sign In</h3>
    <form id="signInForm" action="/login" method="post">
        <label for="username"><i class="fas fa-user"></i> Username</i></label>
        <input type="text" id="username" name="username" required>
        <label for="password"><i class="fas fa-lock"></i> Password</label>
        <input type="password" id="password" name="password" required>
        <div class="button-container" style="justify-content: center;">
            <button type="submit">Login</button>
        </div>
    </form>
    <p style="text-align: center; margin-top: 15px;">Belum punya akun?
        <a href="#" id="registerLink">Daftar di sini</a></p>
</div>