{% include 'header.html' %}

<link rel="stylesheet" href="../static/assets/css/style-landing.css">

<section class="ftco-section bg-light" data-section="merchandise">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-5">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <span class="subheading">Merchandise</span>
                <h2 class="mb-4">See Our Products</h2>
                <p>Yuk, lengkapi koleksimu dengan berbagai merchandise kece dari Fanbase JKT48 Lombok!</p>
            </div>
            <div class="trending">
                <div class="trending_content">
                    <p class="trending_p">Product</p>
                    <h2 class="trending_title">Exclusive JKT48 Merchandise!</h2>
                    <a href="#shop" class="trending_btn">Shop Now!</a>
                </div>
                <div class="img_conta">
                    <img src="../static/assets/img/product/banner-2.png" alt="header" class="img_large" />
                    <img src="../static/assets/img/product/banner-1.png" alt="header" class="img_small" />
                </div>
            </div>
        </div>
        <div class="row justify-content-center pb-5" style="margin-top: -9rem; margin-bottom: -12rem;">
            <section class="room__container" id="room">
                <div class="room__grid">
                    {% for item in merchandise %}
                    <div class="room__card">
                        <div class="img">
                            <a href="../static/assets/img/product/{{item.gambar}}" class="icon image-popup d-flex justify-content-center align-items-center" >
                                <img src="../static/assets/img/product/{{item.gambar}}" class="block-20" alt="Colorlib Template" style="height: 450px;">
                            </a>
                        </div>
                        <div class="room__card__details">
                            <div>
                                <h4>{{item.nama}}</h4>
                                <p>{{item.deskripsi}}</p>
                                <div class="d-flex align-items-center mt-4 meta">
                                    <p class="mb-0"><a href="/beli?nama={{item.nama}}&harga={{item.harga}}" class="btn btn-primary btn-small">Contact <span class="ion-logo-whatsapp"></span></a></p>
                                    <h3 class="ml-auto mb-0">Rp. {{item.harga}}</h3>
                                </div>
                                <div class="d-flex flex-column align-items-center mt-2">
                                  <div class="w-100">
                                    <a href="#" class="btn btn-warning btn-small w-100" onclick="editMerchandise('{{ item._id }}')" data-toggle="modal" data-target="#editMerchandiseModal" data-id="{{ item._id }}">Edit <span class="ion-ios-create"></span></a>
                                  </div>
                                  <div class="w-100" style="margin-top: -0.7rem;">
                                      <a href="/deleteMerchandise/{{item._id}}" class="btn btn-secondary btn-small w-100">Delete <span class="ion-ios-trash"></span></a>
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </section>
        </div>
        <div id="input-merchandise" style="margin-top: 2rem; display: flex; justify-content: center;">
          <!-- Button to trigger modal -->
          <p class="mb-0"><a href="#" class="btn btn-primary" data-toggle="modal" data-target="#merchandiseModal">Add Merchandise <span class="ion-md-add"></span></a></p>
        </div>
    </div>
</section>

<!-- Modal -->
<div class="modal fade" id="merchandiseModal" tabindex="-1" role="dialog" aria-labelledby="merchandiseModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="merchandiseModalLabel">Add Merchandise</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{{ url_for('upmerchandise') }}" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="nama">Nama Merchandise</label>
                        <input type="text" class="form-control" id="nama" name="nama" required>
                    </div>
                    <div class="form-group">
                        <label for="harga">Harga</label>
                        <input type="number" class="form-control" id="harga" name="harga" required>
                    </div>
                    <div class="form-group">
                        <label for="deskripsi">Deskripsi</label>
                        <textarea class="form-control" id="deskripsi" name="deskripsi" rows="3" required></textarea>
                    </div>
                    <div class="form-group">
                        <label for="gambar">Gambar</label>
                        <input type="file" class="form-control-file" id="gambar" name="gambar" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal for Edit Merchandise -->
<div class="modal fade" id="editMerchandiseModal" tabindex="-1" role="dialog" aria-labelledby="editMerchandiseModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="editMerchandiseModalLabel">Edit Merchandise</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <form id="editMerchandiseForm" action="" method="post" enctype="multipart/form-data">
                  <input type="hidden" id="edit_id" name="_id">
                  <div class="form-group">
                      <label for="edit_nama">Nama Merchandise</label>
                      <input type="text" class="form-control" id="edit_nama" name="nama" required>
                  </div>
                  <div class="form-group">
                      <label for="edit_harga">Harga</label>
                      <input type="number" class="form-control" id="edit_harga" name="harga" required>
                  </div>
                  <div class="form-group">
                      <label for="edit_deskripsi">Deskripsi</label>
                      <textarea class="form-control" id="edit_deskripsi" name="deskripsi" rows="3" required></textarea>
                  </div>
                  <div class="form-group">
                      <label for="edit_gambar">Gambar</label>
                      <img id="gambar-preview" src="" alt="" width="200">
                      <input type="file" class="form-control" accept=".png,.jpg,.jpeg" name="gambar"
                            style="border-radius: 13px;" placeholder="Enter the Image" onchange="previewImage(event)" />
                  </div>
                  <button type="submit" class="btn btn-primary">Submit</button>
              </form>
          </div>
      </div>
  </div>
</div>

<script>
  function editMerchandise(itemId) {
      $.ajax({
          url: '/editMerchandise/' + itemId,
          type: 'GET',
          success: function(response) {
              $('#edit_id').val(itemId);
              $('#edit_nama').val(response.nama);
              $('#edit_harga').val(response.harga);
              $('#edit_deskripsi').val(response.deskripsi);
              $('#editMerchandiseForm').attr('action', '/editMerchandise/' + itemId);
              if (response.gambar) {
                $('#gambar-preview').attr('src', '/static/assets/img/product/' + response.gambar);
            }
          },
          error: function(error) {
              console.log(error);
          }
      });
  }

  function previewImage(event) {
    var reader = new FileReader();
    reader.onload = function () {
        var img = document.getElementById('gambar-preview');
        img.src = reader.result;
    }
    reader.readAsDataURL(event.target.files[0]);
  }
</script>

{% include 'footer.html' %}
